<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block stylesheets %}
            <link href="{{ asset("asset/css/bootstrap.css") }}" rel="stylesheet" />
            <link href="{{ asset("asset/css/auth.css") }}" rel="stylesheet" />
            <link href="{{ asset("asset/css/common.css") }}" rel="stylesheet" />
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset("asset/js/jquery-3.3.1.js") }}"></script>
            <script src="{{ asset("asset/js/popper.min.js") }}"></script>
            <script src="{{ asset("asset/js/bootstrap.js") }}"></script>
            <script src="{{ asset("asset/js/localization.js") }}"></script>
            <script src="{{ asset("asset/js/country.js") }}"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
