<form id="main-menu">
    <div class="form-row">
        <div class="col-12 col-md-2">
            <input id="year-from" type="number" class="form-control" placeholder="{{ MainPageData.getMenu.getYear }} {{ MainPageData.getMenu.getFromf }}"> -
            <input id="year-to" type="number" class="form-control" placeholder="{{ MainPageData.getMenu.getYear }} {{ MainPageData.getMenu.getTot }}">
        </div>
        <br>
        <div class="col-12 col-md-2">
            <input id="height-from" type="number" class="form-control" placeholder="{{ MainPageData.getMenu.getheight }} {{ MainPageData.getMenu.getFromf }}"> -
            <input id="height-to" type="number" class="form-control" placeholder="{{ MainPageData.getMenu.getHeight }} {{ MainPageData.getMenu.getTot }}">
        </div>
        <br>
        <div class="col-12 col-md-2">
            <select id="select_color" class="form-control">
                <label for="select_color">{{ MainPageData.getMenu.getColor }}</label>
                <option selected>{{ MainPageData.getMenu.getColor }}...</option>
                {% for color in MainPageData.getColors %}
                    <option value="{{ color.getColorId }}">{{ color.getTitleName }}</option>
                {% endfor %}
            </select>
        </div>
        <br>
        <div class="col-12 col-md-2">
            <select onclick="findCityForMenu(this.value)" id="select_country" class="form-control">
                <label for="select_country">{{ MainPageData.getMenu.getCountry }}</label>
                <option selected>{{ MainPageData.getMenu.getCountry }}...</option>
                {% for country in MainPageData.getCountries %}
                    <option value="{{ country.getCountryId }}">{{ country.getTitleName }}</option>
                {% endfor %}
            </select>
        </div>
        <br>
        <div class="col-12 col-md-2">
            <select id="select_city" class="form-control">
                <label for="select_city">{{ MainPageData.getMenu.getCity }}</label>
                <option selected>{{ MainPageData.getMenu.getCity }}...</option>
            </select>
        </div>
        <div class="col-12 col-md-2">
            <button type="button" class="btn btn-success" onclick="findProductByFilter()">
                {{ MainPageData.getMenu.getSearch }}
            </button>
        </div>
    </div>
</form>